.idea
c3.php
coverage
public/.htaccess
public/_assets
public/fileadmin
public/typo3conf
public/app.php
public/index.php
public/typo3
public/typo3temp
config
var
vendor/
composer.lock
package.lock
node_modules
Tests/Playwright/test-results
Tests/Playwright/playwright-report
php-cs-fixer.xml
phpstan.xml
.php-cs-fixer.cache
