<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


<f:format.raw><style type="text/css">[cn=XPage] {margin-left: -20px !important; margin-top: -20px !important;}</style>{form}</f:format.raw>


</f:section>