<f:debug>{_all}</f:debug>

<f:if condition="{errorCode}">
    <f:be.infobox state="2" title="{f:translate(key: 'error.configuration.title', extensionName:'XmFormcycle')}">
        {f:translate(key: 'error.{errorCode}.message', extensionName:'XmFormcycle')}
    </f:be.infobox>
</f:if>

<f:for each="{forms}" as="group" key="groupName">
    <div style="--typo3-component-box-shadow:none">
        <h4>
            <f:translate extensionName="XmFormcycle" key="defaultGroupNames.{groupName}">{groupName}</f:translate>
        </h4>
        <hr />
        <div class="d-flex flex-wrap gap-3">
            <f:for each="{group}" as="form">
                <a href="#" class="card" style="width: 14rem;" data-form-id="{form.id}">
                    <img src="{form.thumbnail}" class="card-img-top" alt="Preview {form.title}">
                    <div class="card-body">
                        <h5 class="card-title">{form.title}</h5>
                    </div>
                </a>
            </f:for>

        </div>
    </div>
</f:for>
