<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{mode}">
        <f:then>
            <f:render section="Show" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render section="List" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>

<f:section name="List">
    <ul>
        <f:for each="{forms}" as="formRecord">
            <f:switch expression="{data.tx_xmformcycle_detail_link_mode}">
                <f:case value="1">
                    <f:variable name="formUrl">{formRecord.record.url}</f:variable>
                    <f:variable name="linkTarget">_blank</f:variable>
                </f:case>
                <f:defaultCase>
                    <f:variable name="formUrl">{f:uri.page(pageUid: '{site.settings.formcycle.detailPid}', additionalParams: '{xfc_form: \'{formRecord.record.id}\'}')}</f:variable>
                    <f:variable name="linkTarget">_self</f:variable>
                </f:defaultCase>
            </f:switch>

            <li>
                <a href="{formUrl}" title="{formRecord.record.title}" target="{linkTarget}">
                    <img src="{formRecord.record.thumbnail}" alt="{formRecord.record.title}"/>
                    {formRecord.record.title}
                </a>
                <p>
                    <f:for each="{formRecord.record.categories}" as="category">
                        <span>{category.title}</span>
                    </f:for>
                </p>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="Show">
    <div class="ce-formcycle">
        <f:switch expression="{mode}">
            <f:case value="iframe">
                <iframe class="xm-formcycle-iframe" src="{iframe.url}" width="100%" height="500" loading="lazy"></iframe>
            </f:case>
            <f:case value="ajax">
                <div class="xm-formcycle-ajax" id="xm-formcycle-ajax-{data.uid}" data-ajax-url="{ajax.url}"></div>
            </f:case>
            <f:case value="integrated">
                <f:if condition="{form.html}">
                    <f:then>
                        {form.html->f:format.raw()}
                    </f:then>
                    <f:else>
                        {f:translate(key: 'error.notFound.message', extensionName:'XmFormcycle')}
                    </f:else>
                </f:if>
            </f:case>
        </f:switch>
    </div>
</f:section>

</html>
