<f:layout name="Default" />
<f:section name="Main">
    <f:switch expression="{data.tx_xmformcycle_display_mode}">
        <f:case value="1">
            <f:if condition="{form}">
                <f:then>
                    <f:render section="Show" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:render section="List" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:case>
        <f:defaultCase>
            <f:render section="Show" arguments="{_all}" />
        </f:defaultCase>
    </f:switch>
</f:section>

<f:section name="List">
    <ul>
        <f:for each="{forms}" as="form">
            <f:switch expression="{data.tx_xmformcycle_detail_link_mode}">
                <f:case value="1">
                    <f:variable name="formUrl">{form.url}</f:variable>
                    <f:variable name="linkTarget">_blank</f:variable>
                </f:case>
                <f:defaultCase>
                    <f:variable name="formUrl">{f:uri.page(pageUid: '{site.settings.formcycle.detailPid}', additionalParams: '{xfc_form: \'{form.id}\'}')}</f:variable>
                    <f:variable name="linkTarget">_self</f:variable>
                </f:defaultCase>
            </f:switch>

            <li>
                <a href="{formUrl}" title="{form.title}" target="{linkTarget}">
                    <img src="{form.thumbnail}" alt="{form.title}"/>
                    {form.title}
                </a>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="Show">
    <div class="ce-formcycle">
        <f:if condition="{iframe}">
            <iframe class="xm-formcycle-iframe" src="{iframe.url}" width="100%" height="500" loading="lazy"></iframe>
        </f:if>

        <f:if condition="{ajax}">
            <div class="xm-formcycle-ajax" id="xm-formcycle-ajax-{data.uid}" data-ajax-url="{ajax.url}"></div>
        </f:if>

        <f:if condition="{form.html}">
            <f:then>
                {form.html->f:format.raw()}
            </f:then>
            <f:else>
                {f:translate(key: 'error.notFound.message', extensionName:'XmFormcycle')}
            </f:else>
        </f:if>

    </div>
</f:section>

</html>
