#xm-available-forms-wrapper .card-image {
    background: #ededed;
}

#xm-available-forms-wrapper .card {
    --bs-btn-color: inherit;
    white-space: normal;
    width: 14rem;
}

#xm-available-forms-wrapper .card-body {
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    align-content: center;
}

#xm-available-forms-wrapper .card.active {
    --typo3-component-box-shadow: none;
    --typo3-card-bg: var(--typo3-state-primary-bg);
    color: var(--typo3-state-primary-color);
}
